@model ShopProjectMVC.Core.Models.Product

<div class="card product">
    <img class="card-img" src="~/pictures/@Model.Image" alt="Picture of @Model.Name"/>
    <div class="card-info">
        <p class="text-title">@Model.Name</p>
        <p class="text-body">@Model.Description</p>
    </div>
    <div class="card-footer">
        <span class="text-title">$@Model.Price</span>
        <form method="post" asp-action="Buy">
            <input type="hidden" name="id" value="@Model.Id"/>
            <input type="submit" class="card-button" value="Add to orders"/>
        </form>
    </div>
</div>